.popup-container, .menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.menu-overlay {
	display: none;
	cursor: pointer;
	z-index: 10200;
	background: rgba(0, 0, 0, 0.5);
}
.menu-custom {
	padding: 5px 10px;
	margin: 20px 20px 20px 90%;
	display: block;
	border: 2px solid gold;
	width: max-content;
	background: green;
	color: pink;
}
#popup-btn {
	display: none;
}
input[type="checkbox"]:checked + .popup-container {
	display: block;
}
.popup-container {
	width: 300px;
	overflow: hidden;
	background: #3884da;
	display: none;
}
.popup-container .popup-content {
	overflow: auto;
	max-height: 100%;
	padding-bottom: 30px;
}
.popup-container ul li a {
	display: block;
	padding: 15px 20px;
	line-height: 20px;
	font-size: 16px;
	background: #3884da;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	z-index: 2;
}
