
.container {
	max-width: 1170px;
	padding: 0px 15px;
	margin: 0px auto;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
header {
	background-color: rgba(255,255, 255, 0.2);
	min-height: 90px;
	position: fixed;
	width: 100%;
	z-index: 500;
}
.header-box {
	overflow: auto;
}
.testmarg {
	margin-right: 60px ;
	padding-top: 30px;
}
.header-nav ul li {
	float: left;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-top: 40px;
	margin-right: 25px;
	
}
ul a {
	text-decoration: none;
	padding: 0px 0px 10px 0px ;
	color: #b3bfc5;
}
ul a:hover {
	border-bottom: 2px solid #36aeea;
}
/* Start style sec-1 */
.sec-1 {
	background-image: url(../img/no-man-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 220px 0px 150px 0px;
	position: relative;
	z-index: 1;
}
.sec-1--box {
border: 3px solid #fff;
padding: 35px 35px;
overflow: hidden;
}
.sec-1--textwidth{
	width: calc(50%);
	float: left;
}
.sec-1--textwidthimg{
	float: right;
	width: calc(50%);
	position: relative;
}
.sec-1--manimg{
	position: absolute;
	bottom: -165px;
	right: 185px;
}
.sec-1-title--white {
	display: block;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	letter-spacing: 4px;
	word-spacing: 3px;
}
.sec-1-title--blue {
font-size: 66px;
color: #56c7ff;
font-family: "Bringin";
word-spacing: 1px;
line-height: 36px;
}
.sec-1--parag {
	margin-top: 25px;
	font-size: 18px;
	line-height: 25px;
	color: #bac2c6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.sec-1--parag span {
display: block;
}
.btn {
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center ;
	cursor: pointer;
}
.btn-blue-lg {
	background: #36aeea;
	color: #fff;
	border: 3px solid transparent;
	padding: 19px 0px;
	margin-top: 30px;
	min-width: 250px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	letter-spacing: 3px;
	}
	.btn-blue-lg:hover {
	background: transparent;
	color: #36aeea;
	border: 3px solid #36aeea;
	}
	
	.header-button {
		background: transparent;
		border: 3px solid;
		color: #36aeea;
		margin-top: 25px;
		min-width: 150px;
		padding: 11px 0px;
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
		letter-spacing: 2px;
	}
	.header-button:hover {
	background: #36aeea;
	color: #fff;
	border: 3px solid;
	}
/* End style sec-1 */

/* Start style sec-2 */
.sec-2--parag {
	display: block;
}
.sec-2 {
	background-image: url(/img/Worldvector.png);
	background-repeat: no-repeat;
	background-position: 190px 25px;
	background-color: #f6f4f4;
	overflow: hidden;
	clear: both;
	}
	.sec-2--title {
		padding: 255px 0px 30px 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
	}
	.sec-2--parag {
		margin-bottom: 30px;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #9b9a9a;
		line-height: 25px;
	}
	.sec-2--btn-blue {
		margin-bottom:  230px;
		background: #36aeea;
		color: #fff;
		border: 3px solid transparent;
		min-width: 125px;
		font-size: 12px;
		letter-spacing: 2px;
		padding: 10px 0px;
	}
	
	.sec-2--imgbox {
		float: right;
		width: 60%;
		position: absolute;
		clear: both;
	} 
	.sec-2--1img {
		max-width: 350px;
		height: 350px;
		position: relative;
		bottom: -280px;
		left: 415px;
		z-index: 3;
	}
	.sec-2--2img {
		max-width: 800px;
		height: 570px;
		position: relative;
		left: 505px;
		bottom: 400px;
		z-index: 2;
	}
.sec-2--titlebox {
	float: left;
	width: 40%;
}

